/* @import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap');

.dapp-title {
    font-family: "Geologica", 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-style: normal;
}